<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de participantes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/estilos.css" />
  </head>
  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Lista de participantes</h2>

      <hr />

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">A침os de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody id = 'cuerpo'>
          {{!-- <tr>
            <th scope="row">1</th>
            <td><div></div></td>
            <td>Tony Hawk</td>
            <td>12</td>
            <td>Kickflip</td>
            <td class="text-success font-weight-bold">Aprobado</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><div></div></td>
            <td>Evelien Bouilliart</td>
            <td>10</td>
            <td>Heelflip</td>
            <td class="text-success font-weight-bold">Aprobado</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><div></div></td>
            <td>Danny Way</td>
            <td>8</td>
            <td>Ollie</td>
            <td class="text-warning font-weight-bold">En revisi칩n</td>
          </tr> --}}
        </tbody>
      </table>
      <a id ='login' href="/login">Iniciar Sesi칩n</a> |
      <a id = 'registro' href="/registro">Registrarme</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
<script>
  let url = 'http://localhost:3000/usuario';
  let tbody = document.getElementById('cuerpo');

  let usuarios = [];
  window.onload = getData();

  async function getData() {
    await axios.get(url + 's').then((data) => {
      usuarios = data.data;

      let estado;

      usuarios.forEach((c,i) => {

      if(c.estado == false) {
        estado = '<td class="text-warning font-weight-bold">En revisi칩n</td>';
      } else {
        estado = '<td class="text-success font-weight-bold">Aprobado</td>'
      }

      const ruta_foto = `public/assets/img/${c.foto}`

        tbody.innerHTML +=`
          <tr>
            <td>${i + 1}</td>
            <td><img src='${ruta_foto}' style='width:100px;'></td>
            <td>${c.nombre}</td>
            <td>${c.anos_experiencia}</td>
            <td>${c.especialidad}</td>
            ${estado}
          </tr>
        `
//<tbody id="cuerpo">
//  {{#each usuarios}}
//  <tr>
//    <td>{{@index}}</td>
//    <td><img src="/{{this.foto}}" style="width:100px;"></td>
//    <td>{{this.nombre}}</td>
//    <td>{{this.anos_experiencia}}</td>
//   <td>{{this.especialidad}}</td>
//    <td><input type="checkbox" {{#if this.estado}} checked {{/if}} onclick="changeStatus({{this.id}}, this)"></td>
//  </tr>
//  {{/each}}
//</tbody>

      })
    })
  }
</script>
  </body>
</html>
